Lead Sniper/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 1
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "8b06a4b0-7af1-4d25-a319-05658e04a306",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers?per_page=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "8c9bd4d8-5d57-491f-bece-311ed7cfab60",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{ $json[\"login\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -96
      ],
      "id": "5942cd56-93ce-4ae0-a38b-e6cceadb0a0a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01ddaafc-1815-4811-ac6b-9aa2f2bfdf20",
              "leftValue": "={{ $json[\"followers\"] > 10\n\n$json[\"public_repos\"] > 5}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -96
      ],
      "id": "56c35534-7b46-41fd-8ddc-65cb6b6eedf2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "258863df-aa24-4486-83d4-ec83c5ec3d68",
              "name": "pitch",
              "value": "=This user works at {{$json.company\n\"an organization\"}} and is described as \"{{$json.bio    \n\"a tech enthusiast\"}}\", making them a high-value lead worth reaching out to.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -96
      ],
      "id": "2107aee7-e34f-4427-b15c-73463a28f006",
      "name": "Pitch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fc4396a-7680-4379-9ceb-75a2966e6752",
              "name": "output",
              "value": "=🔥 High-Value Lead Detected  👤 Name: {{$node[\"HTTP Request1\"].json[\"name\"] \n\n \"N/A\"}} 🏢 Company: {{$node[\"HTTP Request1\"].json[\"company\"] \n\n \"N/A\"}} 🧠 Bio: {{$node[\"HTTP Request1\"].json[\"bio\"] \n\n \"N/A\"}}  💡 AI Pitch: {{$json[\"pitch\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -96
      ],
      "id": "1348cc89-f93a-41c3-a987-88b0ab5b52f6",
      "name": "Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1486921972238520612/s43AHCmaAiealzhXaNL1nT1gCEy8m-YpY50KwIBO4mihlzK486setRLnW5rTZahA2Aw5",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=content",
              "value": "=🔥 High-Value Lead Detected  👤 Name: {{$json.name}} 🏢 Company: {{$json.company}} 🧠 Bio: {{$json.bio}}  💡 AI Pitch: {{$json.pitch}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -96
      ],
      "id": "1c106710-3b92-40e8-bcb3-3cb30f6a226d",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pitch": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f79a545d-b21e-4040-a06d-90dfb5cfc63c",
  "meta": {
    "instanceId": "67979d868b1167e55a8432ee65dc70f9ffd48d4ab2355993ea6d3fee83b3b9c5"
  },
  "id": "BMJuuTIRzgKq4DsP",
  "tags": []
}